<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" style="text/css" href="/css/main.css"/>
    <title>French Page</title>
</head>
<body>
    <h1>Bienvenue</h1>
    <img src="https://d2ciprw05cjhos.cloudfront.net/files/v3/styles/gs_large/public/images/18/07/trudeau.jpg?itok=oOVoFwsB"/>
    
</body>
</html>